 <h2> Add Data To LabTest </h2>
            <hr />
            <div class="card">
                <form [formGroup]="Add" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Id :</label>
                        <input type="text" class="form-control"   formControlName="Id"  [(ngModel)]="labtest.id"
                        name="id"><br>
                         <span style="color: red;" *ngIf="Id && Id.invalid && Id.touched">*Pass The Id </span>
                    </div><br>

                    <div class="form-group">
                        <label> Title :</label>
                        <input type="text" class="form-control"  [(ngModel)]="labtest.title" 
                        name="title">
                        <!-- <span style="color: red;" *ngIf="title && title.invalid && title.touched">This field is invalid</span> -->
                    </div><br>

                    <div class="form-group">
                        <label>Data :</label>
                        <input type="text" class="form-control"  [(ngModel)]="labtest.data"
                        name="data">
                        <!-- <span style="color: red;" *ngIf="Data && Data.invalid && Data.touched">This field is invalid</span> -->
                    </div><br>

                    <br />
                    <button class="btn btn-success" type="submit" >Submit</button>

                </form>

               
            </div>
            