<div class="bg-img">
   
    
    <div>
        <marquee behavior="scroll" direction="left">
           <strong><i><h2> Welcome to the Laboratory Management System </h2></i></strong></marquee>
    </div>
    <h1>Select your Option</h1>
        <div class="grid-container">
     <button class="btn button1" (click)="onSubmitLabTest()">Lab Test</button> 
        
        <button class="btn button2" (click)="onSubmitPatient()">Patient</button>
        
       <button class="btn button3" (click)="onSubmitReport()">Report</button>
    </div>
</div>